<% provide(:title, "About") %>
<h1>About <strong>clíque</strong></h1>
<p>
  <strong>clíque</strong> is a demo application by Damian C. Rossney
  based upon the <a href="http://www.railstutorial.org/book"><em>Rails
  Tutorial</em></a> book.
</p>
