<% provide(:title, "Contact") %>
<h1>Contact <strong>clíque</strong></h1>
<p>
  <strong>clíque</strong> is a demo application by Damian C. Rossney based upon
  the <a href="http://www.railstutorial.org/book"><em>Rails Tutorial</em></a>
  book.  Contact the Ruby on Rails Tutorial about the sample app at the
  <a href="http://www.railstutorial.org/#contact">contact page</a>.
</p>
